.picture-carousel {
  // position: absolute;
  // z-index: -1;
  width: 100%;
}

.bb-header {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.top-container {
  height: 570px;
  overflow: hidden;
}

.block-buster {
  // position: fixed;
}